@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:400,300,700);

html, body { height:100% }
body {
	font-family:  'Oxygen';
	font-size:14px;
	margin:0px;
	padding:0px;
}

core-toolbar {
	background: Teal;
	color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	z-index: 2;
	font-size:160%;
	font-weight: 700;
}

core-drawer-panel {
	top: 56px;
	bottom: 0px;
	width: 100%;
	height: auto;
}

[drawer] {
	/* border-right:1px solid slategray; */
	background-color: #B2DFDB;
	color:#607D8B;
	overflow-y: auto;
    display: flex;
    flex-direction: row;
}

[main] {
	height: 100%;
	background-color: white;
	padding:20px 10px;
	font-size: initial;
	overflow: auto;
}

core-drawer-panel[narrow] button {
	display: inline-block
}

[drawer] ul {
	margin-top: 0px;
	padding: 0px;
    padding-left:20px;
	list-style-type: none;
}

[drawer] .leftMenu {
    display: flex;
    flex-direction: column;
    width: 45px;
    padding-top: 10px;
    background: darkslategray;
}

[drawer] core-icon-button:hover {
    color:aquamarine;
}

div.cat {
    flex:1;
}

div.cat .select {
    color:white;
}

div.info {
    margin-bottom:10px;
}

li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height:46px;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	font-weight:300;
}

li:hover {
	background: #00695C;
	color: white;
}

li.select, li.select:hover {
    background:white;
    color:#607D8B;
}

#tocMenu ul {
	color: black;
	font-size: 12px;
	list-style-type: none;
	padding: 0px;
	margin: 10px;
	font-size: 14px;
}

#tocMenu li { height:25px; color:black }
#tocMenu li:hover a { color:white; }

#tocMenu a { text-decoration:none; color: black; }
#tocMenu a:visited { color:inherit; }

#tocMenu .tm1 { font-weight:bold; }
#tocMenu .tm2 { margin-left:10px }
#tocMenu .tm3 { margin-left:20px }
#tocMenu .tm4 { margin-left:30px }
#tocMenu .tm5 { margin-left:40px }
#tocMenu .tm6 { margin-left:50px }


paper-fab {
	bottom: 30px;
position: fixed;
right: 20px;
	background:Teal;
}

/* iframe panel */
div#internet {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
}
div#internet div.banner {
	height:70px;
	background: #234023;
	text-align: right;
	display: flex;
	align-items: center;
}

div#internet div.banner div.content {
	flex:1;
	overflow: hidden;
	padding:0px 10px;
	color:white;
}

div#internet div.banner span {
	display:block;
	text-align:left;
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
}

div#internet div.banner .title {
	font-size:16px;
	font-weight:bold;
}

iframe#ext {
	flex:1;
	background: aliceblue;
	border: none;
}

#directory {
	flex:1;
	margin-top:20px;
	display:flex;
	flex-direction:column;
}

#directory div.title {
	margin:0px 10px;
	font-size:1.2em;
}

#directory li { height:26px; }
#directory li.folder {
	color: #00695C;
}
#directory li.folder:hover {
	color:white;
}
